::deep .drop-zone {
    padding: 1rem;
    border: dashed 2px red;
    border-radius: 0.25rem;
    transition: border linear 0.2s;
}

::deep .drop-zone.hover {
    border: dashed 2px cyan;
}

.question {
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 0.25rem;
}