::deep .drop-zone {
    border: dashed 2px transparent;
    border-radius: 0.25rem;
    transition: border linear 0.2s;
    cursor: pointer;
}

::deep .drop-zone input {
    cursor: pointer;
}

::deep .drop-zone p {
    cursor: pointer;
}

::deep .drop-zone.hover {
    border: dashed 2px gray;
}

.image-container {
    position: relative;
    display: block;
    height: fit-content;
    max-height: 45vh !important;
    padding-right: 1rem;
}

.image {
    aspect-ratio: initial;
    object-fit: contain !important;
    max-height: inherit;
    max-width: inherit;
}