.stats {
  background-color: var(--var-main-darkest);
  border-color: transparent !important;
}

.stats i {
  color: var(--var-soft-blue);
  width: fit-content !important;
}

.card-container {
  background-color: var(--var-card-dark);
  border-radius: 0.25rem;
  min-width: 30%;
  max-width: 100% !important;
  height: fit-content !important;
}

.block-container {
  background-color: var(--var-card-dark);
  border-radius: 0.25rem;
  min-width: 30%;
  max-width: 100% !important;
  height: fit-content !important;
  /* margin: 2em; */
  padding: 1em;
  gap: 1rem;
}

.main-content {
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  max-width: 25%;
}

.main-content > div > header {
  word-break: break-word;
}

.hero-image-container {
  position: relative;
  display: block;
  height: fit-content;
  max-height: 35vh;
}

.image-container {
  position: relative;
  display: block;
  height: fit-content;
  max-height: 45vh;
}

.hero-image {
  aspect-ratio: initial;
  object-fit: contain !important;
  max-height: inherit;
  max-width: inherit;
}

.hiddenQuestion {
  display: none !important;
}

.attribution {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  padding: 1.5em 0 4em 0;
  color: #343a40;
  /* Bootstrap's text-dark color */
}

.attribution a {
  color: #007bff;
  /* Bootstrap's primary color */
}

.card-attribute i {
  margin-left: 1rem;
}

.card-attribute p {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0;
  font-weight: 400;
}

.question-pill {
  /* background-color: var(--var-soft-blue); */
  color: var(--var-soft-blue);
  border: 1px solid var(--var-line-dark);
  max-width: 3rem;
  flex-grow: 1;
  text-align: center;
}

.activePill {
  border: 3px solid var(--var-line-dark) !important;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.invalidPill {
  border: 1px solid red !important;
}

.activePill.invalidPill {
  border: 3px solid red !important;
}

@media (max-width: 641px) {
  .mediaColumn {
    flex-direction: column-reverse !important;
  }

  .block-container {
    width: 100% !important;
    height: 100% !important;
    max-width: 100% !important;
  }
  .card-container {
    width: 100% !important;
    height: 100% !important;
    max-width: 100% !important;
  }

  .hero-image {
    height: 100%;
  }

  .hero-image-container::after {
    height: 100%;
  }

  .main-content {
    max-width: 100% !important;
  }

  .main-content > div > header {
    margin-bottom: 0.5rem !important;
  }

  .stats-container {
    flex-direction: row !important;
  }
}
