@page "/quiz/"

<PageTitle>Quiz</PageTitle>

<h1>The quiz's title</h1>

<SurveyPrompt Title="The Question of the Quiz goes here" />

<div class="btn-group" role="group" aria-label="Basic outlined example">
    <button type="button" class="btn btn-outline-primary"><span class="oi oi-arrow-left"></span></button>
    <button type="button" class="btn btn-outline-primary">Subimt</button>
    <button type="button" class="btn btn-outline-primary"><span class="oi oi-arrow-right"></span></button>
</div>

@code {
    VidazorVideo quizVideo;
}
