@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NavigationManager Navigation

<AuthorizeView>
    <Authorized>
        <NavLink class="nav-link" href="authentication/profile">
            <span class="oi oi-home" aria-hidden="true"></span> @context.User.Identity?.Name
        </NavLink>
        <NavLink class="nav-link" @onclick="BeginLogOut" style="cursor:pointer">
            <span class="oi oi-account-logout" aria-hidden="true"></span> Log out
        </NavLink>
    </Authorized>
    <NotAuthorized>
        <NavLink class="nav-link" href="authentication/register">
            <span class="oi oi-plus" aria-hidden="true"></span> Register
        </NavLink>
        <NavLink class="nav-link" href="authentication/login">
            <span class="oi oi-account-login" aria-hidden="true"></span> Log in
        </NavLink>
    </NotAuthorized>
</AuthorizeView>

@code{
    private void BeginLogOut()
    {
        Navigation.NavigateToLogout("authentication/logout");
    }
}
