<div class="card flex-row w-45 p-0 m-0">
    <img
        @* src="@quizSource"  *@
        srcset="https://picsum.photos/200/200"
        class="w-10 h-10 ratio-1x1" />
    <div class="card-body">
        <h5 class="card-title">Quiz Title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="/quiz/" class="btn btn-primary">Take Quiz</a>
    </div>
</div>

@code {
    [Parameter]
    public string? quizSource { get; set; }
}
